/efreiflix-header/node_modules
/efreiflix-db/node_modules
/efreiflix-mfe-skeleton/node_modules
/efreiflix-mfe-recommendation/node_modules
/efreiflix-mfe-user/node_modules
/efreiflix-shell/node_modules